<!DOCTYPE html>
<html>

<head>

    <title>LivrosDB - homepage</title>

</head>

<body>

    <style>
        .butt {
            background-color: #008CBA;
            border-radius: 8px;
            padding: 8px;
            text-decoration: none;
            color: white;
        }
    </style>

    <h1>LivrosDB</h1>

    <hr>

    &nbsp;

    <div>

        <a class="butt" href="/users/authenticate">Login</a>

        <a class="butt" href="/users/register">Registar</a>

    </div>

    <hr>

    <div>

        <a class="butt" href="/livros">Ver Livros</a>>

    </div>

</body>

</html>