<!DOCTYPE html>
<html>

<head>

    <title>LivrosDB - Sucesso</title>

</head>

<body>

    <style>
        .butt {
            background-color: lightgreen;
            border-radius: 8px;
            padding: 8px;
            text-decoration: none;
            color: green;
        }
    </style>

    <center>

        <div style="background-color: green;padding: 10px; border-radius: 8px; color: white; margin-left: 40%;margin-right: 40%;">

            <h1>Sucesso!</h1>

            <p>Utilizador criado com sucesso.</p>

            <a class="butt" href="/">Pagina inicial</a>

        </div>

    </center>

</body>

</html>